/* exam-details.css */

.container {
  /* max-width: 800px; */
  margin: 0 auto;
  padding: 20px;
}

nav{
  max-width: 85%;
  height: 100%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Title styling */
.exam-title {
  text-align: center;
  font-size: 36px;
  color: #333;
  margin-bottom: 20px;
}

/* Navigation styling */
.exam-nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Data container styling */
.exam-data {
  width: 100%;
  display: flex;
  justify-content: center;
}

/* Card styling */
.exam-card {
  width: calc(100% - 55%);
  display: flex;
  padding: 20px;
  align-items: center;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  overflow: hidden;
}

/* Thumbnail styling */
.exam-thumbnail {
  width: auto;
  height: auto;
  border-radius: 10px 0 0 10px;
}

/* Information section styling */
.exam-info {
  padding: 20px;
  flex: 1;
}

/* Exam name styling */
.exam-name {
  font-size: 28px;
  color: #333;
  margin-bottom: 10px;
}

/* Exam details styling */
.exam-date,
.exam-time,
.exam-duration,
.exam-location {
  font-size: 16px;
  color: #666;
  margin-bottom: 5px;
}

/* Button styling */
.btn-start-exam-main{
  display: inline-block;
  padding: 10px 20px;
  font-size: 18px;
  color: #fff;
  background: #242c34;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  transition: background 0.3s ease;
}

.btn-start-exam-main:hover {
  background: #0056b3;
}
